# .gitlab-ci.yml

Build Frontend:
  script: echo Build Frontend ...
  rules:
    - changes:
        - frontend/**

Build Backend:
  script: echo Build Backend ...
  rules:
    - changes:
        - backend/**